:root {
    --color-dark: rgb(14,14,14);
    --color-dark2: rgb(39, 39, 39);
    --color-dark3: rgb(75, 75, 75);
    --color-white: #fff;
    --color-white2: #ffffff73;
    --color-blue: rgb(0, 99, 204);
    --color-darkpurple:#0f0033;
    --color-darkpurple2: #240276;
    --color-darkpurple3: #6321fe;
    --color-darkpurple4: #3b00c5;
    --color-darkgreen: #024000;
    --color-green: #00981c;
    --color-green2: #03de2b;

  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-dark2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color-white);
}
.container {
    display: flex;
    align-items: center;
  }  

.container-form {
    height: 90vh;
    display: flex;
    justify-content: space-around;
    transition:  all .5s ease-out;
}
/* botao input */
.welcome-back {
    display: flex;
    align-items: center;
    text-align: center;
}

.message {
    padding: 1rem;
}

.message h2 {
    font-size: 1.7rem;
    padding: 1rem 0;
}

.message button {
    padding: 1rem;
    width: 150px;
    font-weight: 400;
    background:var(--color-green);
    border-radius: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    margin: 1rem;
    -webkit-transition: .4s;
    transition: .4s;
    color: var(--color-white);
}

.message button:hover {
    background:var(--color-darkgreen);
    cursor: pointer;
}

.create-account {
    padding: .9rem;
    font-size: 1.7rem;
    color: var(--color-green2);
}

/* icones de inscrição */

.icon-google {
    display: block;
    align-items: center;
    justify-content:center;
    margin: auto;
    width:100%;
}

#buttonDiv{
    padding: 1.6rem;
    width:16%;
    display: flex;
}
/* senha */
.input-container {
    position: relative;
  }
  
  .senha-input {
    padding-right: 5px;
  }
  
  .toggle-password {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 40%;
    right: 18%;
    transform: translateY(-50%);
    cursor: pointer;
    filter: invert(90%);
  }

/* titulos */
.conta-gratis {
    padding: 1rem 0;
    font-size: 1.4rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* conteiner box */
.formulario {
    width: 400px;
    padding: 2.8rem;
    margin: 2rem;
    background:var(--color-dark);
    text-align: center;
}

.formulario input[type="text"],
.formulario input[type="password"] {
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 1.5rem;
    background-color: transparent;
    border: none;
    border-bottom: var(--color-white) thin solid;
    text-align: center;
    outline: none;
    padding: .2rem 0;
    font-size: .9rem;
    color: var(--color-white);
    z-index: 10;
}

.sign-in {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.sign-in.active {
    opacity: 1;
    visibility: visible;
}

.sign-up.active {
    opacity: 0;
    visibility: hidden;
}

/* inputs forms*/
.btn {
    padding: 1rem;
    width: 150px;
    font-weight: 400;
    background:var(--color-green);
    border-radius: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    margin: 2rem;
    -webkit-transition: .4s;
    transition: .4s;
    color: var(--color-white);
}

.btn:active{
    transform:scale(1.01) 
}
.btn:hover{
    background: var(--color-darkgreen);
    cursor: pointer;
}

.container input[type="checkbox"] {
    margin: 0;
  }

  .link{
    color: var(--color-green);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .link:hover {
    color: var(--color-white);
    -webkit-transition: .4s;
    transition: .4s;
  }


